<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Slide Animation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="photo-container">
        <div class="text-left">серега)</div>
        <img class="photo" src="/static/images/photo1.jpg" alt="Photo 1">
        <img class="photo" src="/static/images/photo2.jpg" alt="Photo 2">
        <img class="photo" src="/static/images/photo3.jpg" alt="Photo 3">
        <img class="photo" src="/static/images/photo4.jpg" alt="Photo 4">
        <img class="photo" src="/static/images/photo5.jpg" alt="Photo 5">
        <img class="photo" src="/static/images/photo6.jpg" alt="Photo 6">
        <img class="photo" src="/static/images/photo7.jpg" alt="Photo 7">
        <img class="photo" src="/static/images/photo8.jpg" alt="Photo 8">
        <img class="photo" src="/static/images/photo9.jpg" alt="Photo 9">
        <img class="photo" src="/static/images/photo10.jpg" alt="Photo 10">
        <img class="photo" src="/static/images/photo11.jpg" alt="Photo 11">
        <div class="text-right">серега)</div>
    </div>

    <script src="/scripts/script.js"></script>
</body>
</html>
